{% extends 'base.html' %}

{% load static %}

{% block title %}
Список моделей упровляемых мостов
{% endblock title %}

{% block content %}
<div class="references_list_content">

    <h2></h2>
    <section>
        <table class="references_table">
             <thead>
                    <tr>
                        <th>Название</th>
                        <th>Описание</th>

                        <th></th>
                    </tr>
                    </thead>
            <tbody>
            {% if controlled_bridge_model_list %}
            {% for controlled in controlled_bridge_model_list %}
            <tr>
                <td >{{ controlled.title }}</td>
                <td >{{ controlled.description }}</td>
                 <td><a href="{% url 'controlled_bridge_model_update' pk=controlled.id %}">
                    <button class="references_button">Редактировать </button>
                </a></td>
            </tr>

            {% empty %}
            {% endfor %}
            {% endif %}
            </tbody>
        </table>

    </section>


    <div class="content-editing">
        <button class="history_back"> Назад</button>

        {% if perms.service.change_car %}

    </div>

    {% endif %}
</div>


{% endblock content %}