<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Silat</title>
    {% load static %}
    {% load account %}

    <link href="{% static 'styles/default.css' %}" rel="stylesheet">
    <link href="{% static 'styles/home.css' %}" rel="stylesheet" >
</head>
<body>
<header>
    <nav class="top-navigation-wrap">
        <img class="logo" src="{% static 'images/logo.svg' %}" alt="LOGO">
        <nav>
            {% if request.user.is_authenticated %}
            <span> {{ user }}</span>
        <a class="navbar-brand" href="{% url 'account_logout' %}">
            <button>Выход</button>
        </a>
            {% elif not request.user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'account_login' %}">
            <button>Вход</button>
        </a>
             {% endif %}
        </nav>
        
    </nav>
</header>
<main>
    {% block content %}
     {{ search.content }}
    {% endblock content %}
</main>
<footer>
    footer
</footer>
</body>
</html>