
<title>
    Вход
</title>

{% load static %}
<link href="{% static 'styles/login.css' %}" rel="stylesheet">



<div class="login_container">

    <form class="login_form" id="_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="input_username">
        <label for="id_login">Имя пользователя </label>
        <input type="text" name="login" placeholder="Имя пользователя: " autocomplete="username" maxlength="150"
               required="" id="id_login">
    </div>
    <div class="input_password">
        <label for="id_password">Пароль</label>


        <input type="password" name="password" placeholder="Пароль" autocomplete="current-password" required=""
               aria-describedby="id_password_helptext" id="id_password">

    </div>
    <div>
        <label for="id_remember">Запомнить меня:</label>


        <input type="checkbox" name="remember" id="id_remember">


    </div>

    <button class="btn btn-primary" type="submit">Войти</button>
</form>

</div>


