{% extends 'base.html' %}

{% block title %}
Silant
{% endblock title %}

{% block content %}
<nav class="tabs_buttons">
    <button class="btn " data-tab="car"> Техника</button>
    <button class="btn" data-tab="technical_service" >Тех.обслуживание</button>
    <button class="btn" data-tab="complaints" >Рекламации</button>
</nav>
<div class="tabs_forms">
    <div class="form " data-tab="car">
        <form action="/" method="get">

            {{ filter_car.form.as_p }}

            <input class="submit_form" type="submit" value="Найти" data-tab="car"/>
        </form>
        <table>
            <thead>
            <tr>
                <th>Модель техники</th>
                <th>Зав.номер машины</th>
                <th>Модель двигателя</th>
                <th>Модель трансмиссии</th>
                <th>Модель ведущего моста</th>
                <th>Модель управляемого моста</th>
            </tr>
            </thead>

            <tbody>
            {% if filter_car %}
            {% for s in filter_car.qs %}
            <tr>
                <th>{{s.model_technique}}</th>
                <td>{{s.factory_number}}</td>
                <td>{{s.engine_model}}</td>
                <td>{{s.transmission_model}}</td>
                <td>{{s.model_drive_bridge}}</td>
                <td>{{s.controlled_bridge_model}}</td>
                {% empty %}
                <td>данных о машине с таким заводским номером нет в системе</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="form" data-tab="technical_service">
        <form action="/" method="get">

            {{ filter_technical.form.as_p }}

            <input class="submit_form" type="submit" value="Найти" data-tab="technical_service"/>
        </form>
        <table>
            <thead>
            <tr>
                <th>Зав.номер машины</th>
                <th>Дата проведения ТО</th>
                <th>Вид ТО</th>
                <th>№ заказ-наряда</th>
                <th>Дата заказ-наряда</th>
                <th>Наработка, м/час</th>
                <th>№ заказ-наряда</th>
                <th>Организация, проводившая ТО</th>
                <th>Сервисная компания</th>
            </tr>
            </thead>

            <tbody>
            {% if filter_technical %}
            {% for i in filter_technical.qs %}
            <tr>
                <td>{{i.car.factory_number}}</td>
                <th>{{i.date_event}}</th>
                <td>{{i.type_maintenance}}</td>
                <td>{{i.order_number}}</td>
                <td>{{i.date_order}}</td>
                <td>{{i.operating_time}}</td>
                <td>{{i.order_number}}</td>
                <td>{{i.organization_maintenance}}</td>
                <td>{{i.service_company}}</td>
                {% empty %}
                <td>данных о машине с таким заводским номером нет в системе</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="form" data-tab="complaints">
        <form action="/" method="get">

            {{ filter_car.form.as_p }}

            <input class="submit_form" type="submit" value="Найти" data-tab="complaints"/>
        </form>
        <table>
            <thead>
            <tr>
                <th>Модель техники</th>
                <th>Зав.номер машины</th>
                <th>Модель двигателя</th>
                <th>Модель трансмиссии</th>
                <th>Модель ведущего моста</th>
                <th>Модель управляемого моста</th>
            </tr>
            </thead>

            <tbody>
            {% if filter_car %}
            {% for s in filter_car.qs %}
            <tr>
                <th>{{s.model_technique}}</th>
                <td>{{s.factory_number}}</td>
                <td>{{s.engine_model}}</td>
                <td>{{s.transmission_model}}</td>
                <td>{{s.model_drive_bridge}}</td>
                <td>{{s.controlled_bridge_model}}</td>
                {% empty %}
                <td>данных о машине с таким заводским номером нет в системе</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript" src="../static/scripts/home.js"></script>
{% endblock content %}
